# Specify filepatterns you want git to ignore.
Debug\
Release\
x64\
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.png
*.otf
*.ttf
.vs\
out\
.idea/
CMakeSettings.json
cmake-build-debug/
Tools/
imgui.ini